*{
    padding: 1px;
    margin: auto;
}
body{
    width: 700px;
}
h2{
    text-align: center;
    color: rgb(209, 87, 87);
    margin-bottom: 50px;
}
.img1{
    border: 1px solid red;
    height: 95px;
    width: 150px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img2{
    border: 1px solid red;
    height: 95px;
    width: 150px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img3{
    border: 1px solid red;
    height: 95px;
    width: 150px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img4{
    border: 1px solid red;
    height: 95px;
    width: 150px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img5{
    border: 1px solid red;
    height: 95px;
    width: 150px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img6{
    border: 1px solid red;
    height: 95px;
    width: 150px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img7{
    border: 1px solid red;
    height: 95px;
    width: 150px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
figure:hover{
    border: 1px solid red;
}