*{
    padding: 0px;
    margin: auto;
}
.menu{
    height: 50px;
    width: 1089px;
    background-color: black;
}
.menu li{
    list-style: none;
    float: left;
    width: 217.8px;
    line-height: 50px;
    position: relative;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li:hover{
    background-color: lightgreen;
}
.sub{
   display: none; 
}
.sub li{
    background-color: rgb(247, 247, 247);
}
.sub li>a{
    color: black;
}
li:hover>.sub{
    background-color: rgb(24, 148, 13);
    display: block;
    position: absolute;
}