*{
    padding: 0px;
    margin: auto;
}
.wrapper{
    height: 800px;
    width: 1089px;
    background-color: #c9c8c8;
}
header{
    height: 80px;
    width: 100%;
}
header h1{
    text-align: center;
    color: rgb(178, 9, 9);
}
nav{
    display: flex;
    height: 50px;
    width: 800px;
    background-color: rgb(178, 9, 9);

}
.menu li{
    float: left;
    list-style: none;
    width: 140px;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
section{
    margin-top: 20px;
    background-color: #666666;
    width: 1000px;
    height: 270px;
}
section #css{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    color: white;
    padding: 30px;
}
section #lwp{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    color: rgb(142, 18, 18);
    padding: 20px;
}
div .col{
    width: 800px;
    text-align: center;
    column-count: 4;
    column-gap: 60px;
}
div .col #c1, #c2, #c4{
    color: white;
    font-size: 20px;
}
div .col #c3{
    color: rgb(142, 18, 18);
    font-size: 20px;
}